#about-center-container{
    padding: 100px;
    border-radius: 20px;
}

.char{
    position: relative;
    animation: shimmer ease-in-out infinite alternate;
}

@keyframes shimmer {
    0% { color: #D9D9D9; }
    18% { color: #000000; }
    36% { color: #D9D9D9; }
    54% { color: #000000; }
    70% { color: #D9D9D9; }
    84% { color: #000000; }
    100% { color: #FFFFFF; }
}

.float{
    position: relative;
    animation: drift 5s ease-in-out infinite alternate;
}

@keyframes drift {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    20% { transform: translate(-2.5px, -2.5px) rotate(0.1deg); }
    40% { transform: translate(5px, -2.5px) rotate(-0.2deg); }
    60% { transform: translate(-5px, 5px) rotate(0.3deg); }
    80% { transform: translate(5px, 5px) rotate(-0.1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.float:nth-child(1) { animation-duration: 30s; animation-delay: 0s; }
.float:nth-child(2) { animation-duration: 45s; animation-delay: 0s; }
.float:nth-child(3) { animation-duration: 15s; animation-delay: 0s; }
.float:nth-child(4) { animation-duration: 60s; animation-delay: 0s; }
.float:nth-child(5) { animation-duration: 75s; animation-delay: 0s; }



/* @keyframes shimmer { */
/*     0% { filter: blur(0px); color: #D9D9D9; } */
/*     18% { filter: blur(0.25px); color: #000000; } */
/*     36% { filter: blur(0.50px); color: #D9D9D9; } */
/*     54% { filter: blur(0.75px); color: #000000; } */
/*     70% { filter: blur(0.5px); color: #D9D9D9; } */
/*     84% { filter: blur(0.25px); color: #000000; } */
/*     100% { filter: blur(0px); color: #FFFFFF; } */
/* } */
