#logs-container{
    display: flex;
    gap: 10px;
    margin: 0;
    /* height: 100vh; */
    font-size: 1.25rem;
}

#logs-left-col {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    overflow-y: auto;
    text-decoration: none;
}

/* Main log body text */
#logs-center-col {
    flex: 1;
    font-size: 2rem;
}

#logs-title, #logs-date, #logs-body {
    padding: 10px;
}

#logs-date {
    font-size: 1.5rem;
}

#logs-content {
    margin: 0 auto;
    width: 100%;
}


