h1 { font-size: 3.5rem }

html { overflow-y: scroll; }

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    background-color: #212121;
    color: #FFDEFF;
    /* opacity: 0; */
    /* transition: opacity 1s ease; */
}

body.fade-in {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}

/* -------- HEADER SPECIFIC ---------- */
nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 20px;
}

.nav-text a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#right-nav a {
    font-size: 2.5rem;
}
/* -------- HEADER SPECIFIC END---------- */


/* Holds all left and center col content as well as home page about me*/
.main-container {
    font-size: 2rem;
    margin: auto;
    max-width: 800px;
    /* color: #FFFFFF; */
}

/* Probably should go, currently controlling the about me paragraph */
.main-container p {
    margin: 20px 0;
}

footer {
    margin-top: auto;
    text-align: center;
}


/*Media query for main paragraph on resizing down to scale with page*/


/* PAGE ANIMATIONS, MOVE TO SEPARATE CSS FILE EVENTUALLY*/
.fly-left { animation: flyLeft 600ms forwards; }
.enter-from-right { animation: enterFromRight 600ms forwards; }
.fly-right { animation: flyRight 600ms forwards; }
.enter-from-left { animation: enterFromLeft 600ms forwards; }

#left-nav, #right-nav, #page-content {
    will-change: transform, opacity;
}

@keyframes flyLeft {
    from { transform: translateX(0); opacity: 1; }
    to   { transform: translateX(-120vw); opacity: 0; }
}
@keyframes flyRight {
    from { transform: translateX(0); opacity: 1; }
    to   { transform: translateX(120vw); opacity: 0; }
}
@keyframes enterFromRight {
    from { transform: translateX(120vw); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}
@keyframes enterFromLeft {
    from { transform: translateX(-120vw); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}
