#projects-container {
    display: flex;
    margin: 0;
    padding: 20px 0px;
    font-size: 1.5rem;
    /* border-top: 1px #FFDEFF solid; */
}

#projects-center-col {
    flex: 1;
    margin: 0 0 0 20px;
    background-color: #FFDEFF;
    color: #0A0A0A;
    border-radius: 15px;
    padding: 5px;
}

#projects-left-col {
    padding: 0 20px 0 0;
    width: 20%;
    /* font-size: 1.75rem;     */
    border-right: 2px #FFDEFF solid;
    /* Temp till i figure out correct dimensions
     */
    overflow-y: auto;
}

#projects-left-col li {
    display: block;
    overflow-wrap: break-word;
    padding: 0 0 40px 0;
    font-weight: bold;
    /* margin: 0; */
    list-style-type: none;
}

/* Side bar links*/
a {
    text-decoration: none;
    color: #FFDEFF;
}

#projects-center-col img {
    width: 50%;
    height: auto;
}
