#thoughts-container {
    display: flex;
    gap: 10px;
    /* height: 100vh; */
    font-size: 1.25rem;
}

#left-col {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    overflow-y: auto;
}

/* Main log body text */
#center-col {
    flex: 1;
    font-size: 2rem;
}

#thoughts-title, #thoughts-date, #thoughts-body {
    padding: 10px;
}

#thoughts-content {
    margin: 0 auto;
    width: 100%;
}


