#frag-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px;
    font-size: 1.5rem;
}

#frag-left-col {
    width: 250px;
    flex-shrink: 0;
    transition: width 0.3s, transform 0.3s ease;
    background-color: rgb(50, 50, 50, 0.4);
    height: 100vh;
    border-radius: 20px;
}

#frag-left-col.hidden {
    transform: translateX(-100%);
    /* width: 0; */
    /* overflow: hidden; */
}

#frag-left-col li {
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    border-bottom: solid 1px rgb(255,255,255,0.1);
    padding: 10px;
}

#frag-left-col li:hover {
    background-color: grey;
    border-radius: 5px;
}

#frag-left-col li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#frag-left-col li a:visited {
    color: inherit;
    text-decoration: none;
}

#frag-center-col {
    text-align: center;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
    /* max-width: 500px; */
    margin: 0 auto;
    /* transition: margin 0.3s ease, max-width 0.3s ease; */
}

#frag-body {
    padding: 10px;
}

small {
    font-size: 1rem;
    font-style: italic;
}
