body {
    /* display: flex; */
    /* flex-direction: column; */
    /* font-size: 16px; */
    /* height: 100vh; */
    /* max-width: 1000px; */
    /* width: 100%; */
    /* margin: auto; */
}

.main-container {
    display: flex;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
}

.side-panel {
    min-width: 200px;
}

.center-panel {
    flex: 1;
}

input, textarea{
    width: 100%;
}


footer {
    margin-top: auto;
    text-align: center;
}


