h1 { font-size: 2.5rem }

a { text-decoration: none; color: #FFDEFF; }
a:hover { color: #FFAAFF }

html { overflow-y: scroll; }

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: #212121;
    /* background-color: red; */
    color: #FFDEFF;
}

/* -------- HEADER SPECIFIC ---------- */
header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#contact-info{
    font-size: 1.5rem;
    margin: 5px;
}

/* -------- HEADER SPECIFIC END---------- */

/* Holds all left and center col content as well as home page about me*/
.main-container {
    font-size: 2rem;
    margin: auto;
    max-width: 1000px;
    /* color: #FFFFFF; */
}

footer {
    font-size: 1.25rem;
    margin-top: auto;
    text-align: center;
}

/*Media query for main paragraph on resizing down to scale with page*/

