h1 { font-size: 2.25rem }

html { overflow-y: scroll; }

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: #212121;
    color: #FFDEFF;
}

/* -------- HEADER SPECIFIC ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-size: 1.5rem;
    margin: 10px;
    /* padding: 20px; */
}

.nav a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#github {
    /* font-size: 1.25rem; */
    margin-left: 20px;
}

/* -------- HEADER SPECIFIC END---------- */

/* Holds all left and center col content as well as home page about me*/
.main-container {
    font-size: 2rem;
    margin: auto;
    max-width: 800px;
    /* color: #FFFFFF; */
}

/* Probably should go, currently controlling the about me paragraph */
.main-container p {
    margin: 20px 0;
}

footer {
    font-size: 1.25rem;
    margin-top: auto;
    text-align: center;
}

.main-containter img {
    align-self: center;
    opacity: 0.3;
}

/*Media query for main paragraph on resizing down to scale with page*/

