#projects-container {
    display: flex;
    font-size: 1.25rem;
    padding: 0px 10px 0px 10px;
    margin: 10px 0 0 0;
}

/* -------------------------CENTER CONTAINER ---------------------------*/

#projects-center-col {
    flex: 1;
    /* margin: 0 0 0 10px; */
    background-color: #FFDEFF;
    color: #0A0A0A;
    border-radius: 2px;
    padding: 0px 10px 10px 10px;
}

#projects-center-col p img {
    width: 50%;
    height: auto;
    margin: 5px 30px;
    display: block;
}

/* Zig Zag images back and fourth inside the md (kind of, involves some sorting)*/
#projects-center-col p:nth-of-type(odd) img {
    float: left;
    clear:both;
}

#projects-center-col p:nth-of-type(even) img {
    float: right;
    clear: both;
}

/* For links inside the md files*/
#projects-center-col a {
    text-decoration: underline;
    color: black;
}

/* -------------------------LEFT CONTAINER -----------------------------*/

#projects-left-col {
    font-size: 1.25rem;
    width: 25%;
    overflow-y: auto;
    border-right: 2px #FFDEFF solid;
    /* opacity: 0.2; */
    /* transition: ease 0.5s opacity; */
    /* padding: 0px 10px 0px 0px; */
}

/* #projects-left-col:hover { */
/*     opacity: 1; */
/*     transition: ease 0.5s opacity; */
/* } */

#projects-left-col ul {
    padding: 0px;

}

.section-header {
    font-weight: bold; 
    font-size: 1.75rem; 
    color:#DEFFFF;
    margin: 0 0 5px 0;
    /* text-decoration: underline; */

}

#projects-left-col li {
    display: block;
    overflow-wrap: break-word;
    font-weight: bold;
    list-style-type: none;
    /* padding: 10px 0px 0px 0px; */
}

#projects-left-col li:hover a{
    background-color: black;
    border-radius: 5px;
    /* color: #FFCFFF; */
}

/* Makes name and language text one clickable link instead of two separate ones*/
#projects-left-col a {
    display: block;
    padding: 10px 10px 20px 5px;
}

.proj-desc {
    font-size: 1rem;
    font-weight: normal;
    margin: 3px;
    padding: 5px 10px 10px 0px;
}

.proj-lang {
    font-size: 1rem;
    font-weight: normal;
    color: #AAAAAA;
}
