#projects-container {
    display: flex;
    margin: 0;
    padding: 20px 0px;
    font-size: 1.25rem;
    /* border-top: 1px #FFDEFF solid; */
}

#projects-center-col {
    flex: 1;
    margin: 0 0 0 20px;
    background-color: #FFDEFF;
    color: #0A0A0A;
    border-radius: 2px;
    padding: 10px;
}

#projects-left-col {
    padding: 0 20px 0 0;
    width: 20%;
    /* font-size: 1.75rem;     */
    border-right: 2px #FFDEFF solid;
    /* Temp till i figure out correct dimensions
     */
    overflow-y: auto;
}

#projects-left-col li {
    display: block;
    overflow-wrap: break-word;
    padding: 0 0 10px 0;
    font-weight: bold;
    /* margin: 0; */
    list-style-type: none;
}

/* All links including header (annoyingly)*/
a {
    text-decoration: none;
    color: #FFDEFF;
}

a:hover {
    color: #FFAAFF;
}

#projects-center-col p img {
    width: 50%;
    height: auto;
    margin: 5px 30px;
    display: block;
}

/* Zig Zag images back and fourth inside the md (kind of, involves some sorting)*/
#projects-center-col p:nth-of-type(odd) img {
    float: left;
    clear:both;
}

#projects-center-col p:nth-of-type(even) img {
    float: right;
    clear: both;
}

/* For links inside the md files*/
#projects-center-col a {
    text-decoration: underline;
    color: black;
}

/* Makes name and language text one clickable link instead of two separate ones*/
#projects-left-col a {
    display: block;
    padding: 10px;
}

/* For the languages section under the project name in the side bar*/
#projects-left-col a p {
    font-size: 16px;
    font-weight: normal;
    margin: 3px;
}

#projects-left-col a:hover {
}
