#projects-container {
    display: flex;
    font-size: 1.25rem;
    padding: 0px 10px 0px 10px;
}

/* -------------------------CENTER CONTAINER ---------------------------*/

#projects-center-col {
    flex: 1;
    margin: 0 0 0 10px;
    background-color: #FFDEFF;
    color: #0A0A0A;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
}

#projects-center-col p img {
    width: 50%;
    height: auto;
    margin: 5px 30px;
    display: block;
}

/* Zig Zag images back and fourth inside the md (kind of, involves some sorting)*/
#projects-center-col p:nth-of-type(odd) img {
    float: left;
    clear:both;
}

#projects-center-col p:nth-of-type(even) img {
    float: right;
    clear: both;
}

/* For links inside the md files*/
#projects-center-col a {
    text-decoration: underline;
    color: black;
}

/* -------------------------LEFT CONTAINER -----------------------------*/

#projects-left-col {
    width: 20%;
    overflow-y: auto;
    /* border-right: 2px #FFDEFF solid; */
    /* padding: 0px 10px 0px 0px; */
}

#projects-left-col ul {
    padding: 0px;
}

#projects-left-col li {
    display: block;
    overflow-wrap: break-word;
    font-weight: bold;
    list-style-type: none;
}

/* Makes name and language text one clickable link instead of two separate ones*/
#projects-left-col a {
    display: block;
    padding: 0px 0px 40px 5px;
}

/* For the languages section under the project name in the side bar*/
#projects-left-col a p {
    font-size: 16px;
    font-weight: normal;
    margin: 3px;
}

