#about-center-container{
    font-size: 1.25rem;
    padding: 50px 50px 0 50px;
    border-radius: 20px;
    /* color: #212121; */
    color: var(--panel);
}

#about-center-container p {
    margin: 20px;
    /* color: var(--panel); */
    color: var(--fg1);
}

.word {
    position: relative;
    /* animation: shimmer ease-in-out infinite alternate; */
    animation: shimmer ease-in-out forwards;
}

@keyframes shimmer {
    0% { color: var(--fg1); }
    5% { color: var(--muted); }
    10% { color: var(--fg1); }
    15% { color: var(--muted); }
    30% { color: var(--accent2); }
    45% { color: var(--fg1); }
    55% { color: var(--accent); }
    70% { color: var(--fg0); }
    85% { color: var(--fg1); }
    100% { color: var(--fg0); }
}



/* ANIMATIONS FOR THE FLOATING TEXT*/
/* .float{ */
/*     position: relative; */
/*     animation: drift 5s ease-in-out infinite alternate; */
/* } */
/**/
/* .float:nth-child(1) { animation-duration: 30s; animation-delay: 0s; } */
/* .float:nth-child(2) { animation-duration: 45s; animation-delay: 0s; } */
/* .float:nth-child(3) { animation-duration: 15s; animation-delay: 0s; } */
/* .float:nth-child(4) { animation-duration: 60s; animation-delay: 0s; } */
/* .float:nth-child(5) { animation-duration: 75s; animation-delay: 0s; } */
/**/
/* @keyframes drift { */
/*     0% { transform: translate(0px, 0px) rotate(0deg); } */
/*     20% { transform: translate(-2.5px, -2.5px) rotate(0.1deg); } */
/*     40% { transform: translate(5px, -2.5px) rotate(-0.2deg); } */
/*     60% { transform: translate(-5px, 5px) rotate(0.3deg); } */
/*     80% { transform: translate(5px, 5px) rotate(-0.1deg); } */
/*     100% { transform: translate(0px, 0px) rotate(0deg); } */
/* } */
/**/
/**/
